{% extends "inventory/base.html" %}
{% load static %}

{% block body %}
    <h1> New Requirement for {{ menu_item.title }} recipe</h1>
    <div class="d-flex align-items-center">
        <div class="border rounded">
            <form class="row g-3 needs-validation" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="id_ingredient" class="form-label">Name</label>
                    {{ form.ingredient }}
                </div>
                <div class="col-md-6">
                    <label for="id_quantity" class="form-label">Quantity</label>
                    {{ form.quantity }}
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12">
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}