{% extends "inventory/base.html" %}
{% load static %}

{% block body %}
    <div class="d-flex align-items-center">
        <div class="border rounded">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Recipe</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for menu_item in menuitem_list %}
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="{% url "menu_item_update" menu_item.id %}">{{ menu_item.title }}</a></td>
                        <td>{{ menu_item.price }}</td>
                        <td><a href="{% url "recipe_requirement_list" menu_item.id %}">Recipe</a></td>
                        <td><a class="link-danger link-underline-opacity-0"
                               href="{% url "menu_item_delete" menu_item.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td><a href="{% url "menu_item_create" %}">add</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}